/* ================================ Base ================================ */

.b-link {
  color: var(--color-primary);
  text-decoration: none;
}

.b-toggle {
  display: flex;
  gap: 12px;

  &__slider {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 18px;
    background-color: var(--color-loader-bg);
    border-radius: 34px;
    transition: 0.2s;

    &::before {
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-color: var(--color-text-secondary);
      border-radius: 50%;
      transition: 0.2s;
    }
  }

  &__label {
    @include text-style-label;
    opacity: 0.4;
    transition: 0.2s;
  }

  &__checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + .b-toggle__slider {
      background-color: var(--color-secondary);

      &::before {
        background-color: var(--color-primary);
        transform: translateX(16px);
      }
    }

    &:checked ~ .b-toggle__label {
      opacity: 1;
    }
  }
}

.b-button {
  padding: 8px 10px;
  border-radius: 8px;
  transition: all 0.2s;

  &.--filled {
    color: var(--color-background);
    background-color: var(--color-primary);
    @include text-style-button;

    &:hover {
      opacity: 0.8;
    }
  }

  &.--outlined {
    color: var(--color-text-primary);
    background-color: transparent;
    @include text-style-button;
    border: 1px solid var(--color-text-primary);

    &:hover {
      color: var(--color-background);
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
    }
  }

  &:disabled {
    opacity: 0.3;
    cursor: auto;
    pointer-events: none;
  }
}

.b-progressBar {
  position: relative;
  width: 152px;
  height: 4px;
  overflow: hidden;
  background-color: var(--color-loader-bg);
  border-radius: 4px;

  &__progress {
    width: 0%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 4px;
    transition: width 0.3s ease;
  }
}

.b-iconButton {
  padding: 4px;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.2s;

  &__redo {
    display: none;
  }

  path {
    fill: var(--color-text-primary);
  }

  &:hover {
    background-color: var(--color-loader-bg);
  }
}
