/* ================================ Combinations ================================ */

.c-styleType {
  position: relative;
  display: flex;
  justify-content: center;

  .scanner {
    position: absolute;
    z-index: 1;
    opacity: 0;
    animation: scanning 2s ease-in-out infinite;
  }

  &__preparing {
    animation: pulse 1s ease infinite;

    path {

      /* stylelint-disable-next-line declaration-no-important */
      fill: none !important;
      stroke: var(--color-primary);
    }
  }

  &__icons {
    position: relative;
    width: 56px;
    height: 56px;

    div {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.2s ease;

      path {
        fill: var(--color-icon);
      }
    }
  }
}

.c-removeList {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.c-removeItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: opacity 0.2s ease;

  .infoIcon {
    width: 22px;
    margin-right: 10px;
    fill: var(--color-primary);
    vertical-align: middle;
  }

  &__container {
    display: flex;
    align-items: center;

    div {
      display: none;
    }
  }

  &.--title {
    @include text-style-title;
    padding-bottom: 6px;
    border-bottom: solid var(--color-icon) 1px;
  }

  &.--style {
    @include text-style-list-item;
    padding-bottom: 11px;
    border-bottom: solid var(--color-loader-bg) 1px;
  }

  // Состояния
  $parent: &;

  &.--fonts {
    #{$parent}__container {
      #{$parent}__fonts {
        display: block;
      }

      &::after {
        content: 'Fonts to remove';
      }
    }
  }

  &.--colors {
    #{$parent}__container {
      #{$parent}__colors {
        display: block;
      }

      &::after {
        content: 'Colors to remove';
      }
    }
  }

  &.--effects {
    #{$parent}__container {
      #{$parent}__effects {
        display: block;
      }

      &::after {
        content: 'Effects to remove';
      }
    }
  }

  &.--grids {
    #{$parent}__container {
      #{$parent}__grids {
        display: block;
      }

      &::after {
        content: 'Grids to remove';
      }
    }
  }

  &__text {
    width: 290px;
    margin-top: 5px;
  }

  &.--onRemove {
    opacity: 0.4;

    .b-iconButton {

      &__redo {
        display: block;
      }

      &__remove {
        display: none;
      }
    }
  }
}

.c-actions {
  position: fixed;
  bottom: 47px;
  left: 0;
  z-index: 1;
  display: flex;
  gap: 18px;
  justify-content: center;
  width: 100%;
  padding: 9px 0px;
  background-color: var(--color-background);
  border-top: solid var(--color-loader-bg) 1px;
}

.c-error {
  position: fixed;
  bottom: 58px;
  left: 0;
  z-index: 1;
  display: flex;
  gap: 12px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--color-background);
  border-top: solid var(--color-loader-bg) 1px;
  font-size: 12px;
  transition: bottom 0.3s ease;

  svg {
    width: 20px;
    height: auto;

    path {
      fill: var(--color-error);
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--color-error);
    opacity: 0.3;
  }

  &.--alert {
    bottom: 100px;

    &::after {
      animation: timer 3s linear 0.3s, timer;
    }
  }
}

@keyframes timer {

  0% {
    width: 0%;
  }

  95% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}
