/* ================================ Combinations ================================ */

.c-styleType {
  position: relative;
  display: flex;
  justify-content: center;

  .scanner {
    position: absolute;
    z-index: 1;
    animation: scanning 2s ease-in-out infinite;
  }

  &__icons {
    position: relative;
    width: 56px;
    height: 56px;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      path {
        fill: var(--color-icon);
      }
    }

    .--visible {
      opacity: 1;
    }
  }
}

@keyframes scanning {

  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    opacity: 1;
    transform: translateY(51px);
  }

  75% {
    opacity: 1;
    transform: translateY(51px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

.c-removeItem {

  display: flex;
  justify-content: space-between;
  align-items: flex-start;


  &.--title {
    @include text-style-title;
    padding-bottom: 6px;
    border-bottom: solid var(--color-icon) 1px;
  }

  &.--style{
    @include text-style-list-item;
    padding-bottom: 11px;
    border-bottom: solid var(--color-loader-bg) 1px;
  }

  .infoIcon {
    margin-right: 10px;
    fill: var(--color-primary);
    vertical-align: middle;
  }

  &__text{
    width: 290px;
    margin-top: 5px;
  }

  .--redo{
    display: none;
  }
  
  &.--onRemove {
    opacity: 0.4;

    .--redo{
      display: block;
    }

    .--remove{
      display: none;
    }
  }
}

.c-actions{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 18px;
  justify-content: center;
  width: 100%;
  padding: 9px 0px;
  border-top: solid var(--color-loader-bg) 1px;
  background-color: var(--color-background);
}