/* ================================ Combinations ================================ */

.c-styleType {
  position: relative;
  display: flex;
  justify-content: center;

  .scanner {
    position: absolute;
    z-index: 1;
    opacity: 0;
    animation: scanning 2s ease-in-out infinite;
  }

  &__preparing {
    animation: pulse 1s ease infinite;

    path {

      /* stylelint-disable-next-line declaration-no-important */
      fill: none !important;
      stroke: var(--color-primary);
    }
  }

  &__icons {
    position: relative;
    width: 56px;
    height: 56px;

    div {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.2s ease;

      path {
        fill: var(--color-icon);
      }
    }
  }
}

.c-removeList {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.c-removeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.2s ease;

  .infoIcon {
    width: 22px;
    margin-right: 10px;
    fill: var(--color-primary);
    vertical-align: middle;
  }

  &__container {
    display: flex;
    align-items: center;

    div {
      display: none;
    }
  }

  &__text {
    width: 290px;
  }

  $parent: &;

  &.--title {
    @include text-style-title;
    padding-bottom: 6px;
    border-bottom: solid var(--color-icon) 1px;

    &__text {
      margin-top: 5px;
    }

    // Состояния

    &.--fonts {
      #{$parent}__container {
        #{$parent}__fonts {
          display: block;
        }

        &::after {
          content: 'Fonts to remove';
        }
      }
    }

    &.--colors {
      #{$parent}__container {
        #{$parent}__colors {
          display: block;
        }

        &::after {
          content: 'Colors to remove';
        }
      }
    }

    &.--effects {
      #{$parent}__container {
        #{$parent}__effects {
          display: block;
        }

        &::after {
          content: 'Effects to remove';
        }
      }
    }

    &.--grids {
      #{$parent}__container {
        #{$parent}__grids {
          display: block;
        }

        &::after {
          content: 'Grids to remove';
        }
      }
    }
  }

  &.--style {
    @include text-style-list-item;
    padding-bottom: 11px;
    border-bottom: solid var(--color-loader-bg) 1px;

    #{$parent}__container {

      div {
        width: 20px;
        margin-right: 12px;
      }
    }

    #{$parent}__text {
      margin-top: 2px;
    }

    // Состояния

    &.--fonts {
      #{$parent}__fonts {
        display: block;
        font-size: 15px;
      }
    }

    &.--colors {
      #{$parent}__colors {
        position: relative;
        display: block;
        box-sizing: border-box;
        height: 20px;
        overflow: hidden;
        border: 1px solid var(--color-loader-bg);
        border-radius: 20px;

        &::after {
          position: absolute;
          z-index: -1;

          content: '';
          width: 100%;
          height: 100%;
          background-image: url('https://i.imgur.com/E0COiES.jpeg');
        }
      }
    }

    &.--effects {

      path {
        fill: var(--color-text-primary);
      }

      #{$parent}__effects {
        display: block;

        height: 20px;

        &.--SHADOW {

          .c-removeItem__SHADOW {
            display: block;
          }
        }

        &.--DROP_SHADOW {

          .c-removeItem__DROP_SHADOW {
            display: block;
          }
        }

        &.--INNER_SHADOW {

          .c-removeItem__INNER_SHADOW {
            display: block;
          }
        }

        &.--LAYER_BLUR {

          .c-removeItem__LAYER_BLUR {
            display: block;
          }
        }

        &.--BACKGROUND_BLUR {

          .c-removeItem__BACKGROUND_BLUR {
            display: block;
          }
        }
      }
    }

    &.--grids {

      rect {
        fill: var(--color-text-primary);
      }

      #{$parent}__grids {
        display: block;

        height: 20px;

        &.--ROWS {

          .c-removeItem__ROWS {
            display: block;
          }
        }

        &.--COLUMNS {

          .c-removeItem__COLUMNS {
            display: block;
          }
        }

        &.--GRID {

          .c-removeItem__GRID {
            display: block;
          }
        }
      }
    }
  }

  &.--onRemove {
    opacity: 0.4;

    .b-iconButton {

      &__redo {
        display: block;
      }

      &__remove {
        display: none;
      }
    }
  }
}

.c-actions {
  position: fixed;
  bottom: 47px;
  left: 0;
  z-index: 1;
  display: flex;
  gap: 18px;
  justify-content: center;
  width: 100%;
  padding: 9px 0px;
  background-color: var(--color-background);
  border-top: solid var(--color-loader-bg) 1px;
}

.c-error {
  position: fixed;
  bottom: 58px;
  left: 0;
  z-index: 1;
  display: flex;
  gap: 12px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--color-background);
  border-top: solid var(--color-loader-bg) 1px;
  font-size: 12px;
  transition: bottom 0.3s ease-in-out;

  svg {
    width: 20px;
    height: auto;

    path {
      fill: var(--color-error);
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--color-error);
    opacity: 0.3;
  }

  &.--alert {
    bottom: 100px;

    &::after {
      animation: timer 3s linear 0.3s forwards;
    }
  }
}
