@keyframes pulse{

  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes scanning {

  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    opacity: 1;
    transform: translateY(51px);
  }

  75% {
    opacity: 1;
    transform: translateY(51px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {

  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {

  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}