/* ================================ Modules ================================ */

$fadeIn: fadeIn 0.3s linear forwards;
$fadeOut: fadeOut 0.3s linear forwards;
$fadeOut0: fadeOut 0s linear forwards;

.m-options {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 24px 26px 20px 22px;
  animation: $fadeOut0;

  &__checks {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  .b-button {
    margin-top: 34px;
  }
}

.m-loader {
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 28px 45px 74px 45px;
  text-align: center;
  animation: $fadeOut0;

  &__scanningCount {
    @include text-style-count;
    margin-top: 14px;
  }

  .b-progressBar {
    margin-top: 10px;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 202px;
    height: 35px;
    margin-top: 24px;
    transition: margin-top 0.1s linear;
  }

  &__text {
    width: 152px;
    @include text-style-title;
    margin-top: 10px;
  }

  &__description {
    position: absolute;
    width: 100%;
    @include text-style-list-item;
    color: var(--color-text-secondary);

    animation: $fadeOut;
  }

  .b-button {
    position: absolute;
    animation: $fadeIn;
  }

  // Состояния
  $parent: &;
  $types: preparing, fonts, colors, effects, grids;

  @each $type in $types {
    &.--#{$type} {
      .c-styleType__#{$type} {
        opacity: 1;
      }

      @if $type == preparing {

        .scanner {
          animation: none;
        }

        #{$parent}__scanningCount {
          display: none;
        }

        .b-progressBar {
          display: none;
        }

        #{$parent}__container {
          margin-top: 8px;
        }

        #{$parent}__text {
          margin-top: 14px;
        }

        #{$parent}__description {
          animation: none;
        }

        .b-button {
          margin-top: 0;
          animation: $fadeOut0;
        }
      } @else {

        .c-styleType__preparing {
          animation: none;
        }
      }

      #{$parent}__text::after {
        @if $type != preparing {
          content: 'Scanning a document for unused #{$type}';
        } @else {
          content: 'Preparing for scaning';
        }
      }
    }
  }
}

.m-result {
  z-index: 3;
  justify-content: center;
  align-items: center;
  padding: 28px 45px 45px 45px;
  text-align: center;
  animation: $fadeOut0;

  &__text {
    @include text-style-title;
    margin-top: 14px;
    margin-bottom: 24px;

    &::after {
      content: 'Nothing found';
    }
  }

  &__states {
    position: relative;
    width: 100%;
    height: 56px;

    & > div {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
    }
  }

  .b-button {
    transition: all 0.3s ease;

    &::after {
      content: 'Back';
    }
  }

  // Иконки состояний

  &__nothing path {
    fill: var(--color-icon);
  }

  &__check {
    width: 56px;

    .m-result__wrapper {
      width: 0px;
      overflow: hidden;
      transition: width 0.6s ease;
    }

    path {
      fill: var(--color-primary);
    }
  }

  &__trash {
    width: 56px;
    animation: $fadeOut;

    path {
      fill: var(--color-primary);
    }
  }

  // Состояния
  $parent: &;

  &.--removing {
    #{$parent}__nothing {
      display: none;
    }

    #{$parent}__trash {
      animation: pulse 1s ease infinite;
    }

    #{$parent}__text::after {
      display: block;
      content: 'Removing selected styles';
      width: 120px;
    }

    .b-button {
      opacity: 0;
    }
  }

  &.--done {
    #{$parent}__nothing {
      display: none;
    }

    #{$parent}__check {
      #{$parent}__count {
        display: flex;
        justify-content: center;
        width: 56px;
        color: var(--color-primary);
        font-size: 40px;
        font-weight: 500;
      }
    }

    #{$parent}__text::after {
      content: 'Selected styles are removed';
    }

    .b-button {
      opacity: 1;

      &::after {
        content: 'Ok';
      }
    }
  }
}

.m-report {
  z-index: 2;
  gap: 20px;
  height: auto;
  padding: 12px 20px 96px 20px;
  animation: $fadeOut0;
}

.m-support {
  position: fixed;
  bottom: 0;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px 18px 15px;
  background-color: var(--color-background);
  border-top: 1px solid var(--color-loader-bg);

  @include text-style-support;
}

.--options {

  .m-onLoad {
    animation: $fadeOut;
  }

  .m-options {
    animation: $fadeIn;
  }

  .m-loader {
    animation: $fadeOut;
  }

  .m-report {
    height: 100%;
    overflow: hidden;
    animation: $fadeOut;
  }

  .m-result {
    animation: $fadeOut;
  }
}

.--loader {

  .m-onLoad {
    animation: $fadeOut;
  }

  .m-options {
    animation: $fadeOut;
  }

  .m-loader {
    animation: $fadeIn;
  }

  .m-report {
    height: 100%;
    overflow: hidden;
    animation: $fadeOut;
  }

  .m-result {
    animation: $fadeOut;
  }
}

.--report {

  .m-onLoad {
    animation: $fadeOut;
  }

  .m-options {
    animation: $fadeOut;
  }

  .m-loader {
    animation: $fadeOut;
  }

  .m-report {
    animation: $fadeIn;
  }

  .m-result {
    animation: $fadeOut;
  }
}

.--result {

  .m-onLoad {
    animation: $fadeOut;
  }

  .m-options {
    animation: $fadeOut;
  }

  .m-loader {
    animation: $fadeOut;
  }

  .m-report {
    height: 100%;
    overflow: hidden;
    animation: $fadeOut;
  }

  .m-result {
    animation: $fadeIn;
  }
}
