/* ================================ Resets ================================ */

body {
  margin: 0;
  @include text-style-body;
  color: var(--color-text-primary);
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

button {
  border: none;
  cursor: pointer;
  @include text-style-body;
}

p {
  margin: 0;
}