.m-loader.--modal
  .c-styleType
    include ../assets/icons/Scanner.svg
    .c-styleType__icons
      include ../assets/icons/Fonts.svg
      include ../assets/icons/Colors.svg
      include ../assets/icons/Effects.svg
      include ../assets/icons/Grids.svg
  p.m-loader__scanningCount 20 of 43
  .b-progressBar
    .b-progressBar__progress
  p.m-loader__text Scanning a document for unused colors...
  button.b-button.--outlined.--lightRipple Cancel