.m-loader.--modal
  .c-styleType
    include ../assets/icons/Scanner.svg
    .c-styleType__icons
      .c-styleType__fonts
        include ../assets/icons/Fonts.svg
      .c-styleType__colors
        include ../assets/icons/Colors.svg
      .c-styleType__effects
        include ../assets/icons/Effects.svg
      .c-styleType__grids
        include ../assets/icons/Grids.svg
  p.m-loader__scanningCount 20 of 43
  .b-progressBar
    .b-progressBar__progress
  p.m-loader__text 
  button.b-button.--outlined.--lightRipple Cancel