.m-options
  .m-options__checks
    each optionType in ['fonts', 'colors', 'effects', 'grids']
      label.b-toggle
        input.b-toggle__checkbox(id=optionType+'_checkbox' type='checkbox' name=optionType)
        .b-toggle__slider
        label.b-toggle__label(for=optionType+'_checkbox') Remove #{optionType}
  button.b-button.--filled.--lightRipple(disabled) Run