.m-report.--modal
  .c-actions
    button.b-button.--outlined.--lightRipple Cancel
    button.b-button.--filled.--lightRipple Confirm
  .m-report__list
    .c-removeItem.--title
      .c-removeItem__container
        include ../assets/icons/Removed-Fonts.svg
        |Fonts to remove
      button.b-iconButton
        include ../assets/icons/Remove-Collection.svg
    .c-removeItem.--style
      span.c-removeItem__text Name of style
      .c-removeItem__container
        button.b-iconButton.--remove
          include ../assets/icons/Remove-Style.svg
        button.b-iconButton.--redo
          include ../assets/icons/Redo.svg