.m-report
  .m-report__container
    ul.m-report__info
      li#fonts-info.c-counter
        .c-counter__icon
          include ../assets/icons/fonts.svg
        span Fonts
        span.c-counter__count  0
      li#colors-info.c-counter
        .c-counter__icon
          include ../assets/icons/colors.svg
        span Colors
        span.c-counter__count  0
      li#effects-info.c-counter
        .c-counter__icon
          include ../assets/icons/effects.svg
        span Effects
        span.c-counter__count  0
      li#grids-info.c-counter
        .c-counter__icon
          include ../assets/icons/grids.svg
        span Grids
        span.c-counter__count  0
    button.b-back.--lightRipple
      include ../assets/icons/arrow-left.svg 
      |Back