.m-report.--modal
  .c-error
    include ../assets/icons/Remove-Style.svg
    |You must select at least one style
  .c-actions
    button.b-button.js-cancel.--outlined.--lightRipple Cancel
    button.b-button.js-confirm.--filled.--lightRipple Confirm
  template#template__list
    .c-removeList
      .c-removeItem.js-title.--title
        .c-removeItem__container
        button.b-iconButton
          .b-iconButton__remove
            include ../assets/icons/Remove-Collection.svg
          .b-iconButton__redo
            include ../assets/icons/Redo.svg
      template#template__item
        .c-removeItem.js-item.--style
          .c-removeItem__container
            .c-removeItem__fonts
              |Ag
            .c-removeItem__colors
            .c-removeItem__effects
              .c-removeItem__SHADOW
                include ../assets/icons/Shadow.svg
              .c-removeItem__DROP_SHADOW
                include ../assets/icons/Drop-Shadow.svg
              .c-removeItem__INNER_SHADOW
                include ../assets/icons/Inner-Shadow.svg
              .c-removeItem__LAYER_BLUR
                include ../assets/icons/Layer-blur.svg
              .c-removeItem__BACKGROUND_BLUR
                include ../assets/icons/Bg-blur.svg
            .c-removeItem__grids
              .c-removeItem__ROWS
                include ../assets/icons/Rows.svg
              .c-removeItem__COLUMNS
                include ../assets/icons/Cols.svg
              .c-removeItem__GRID
                include ../assets/icons/layoutGrids.svg
            span.c-removeItem__text Name of style
          button.b-iconButton
            .b-iconButton__remove
              include ../assets/icons/Remove-Style.svg
            .b-iconButton__redo
              include ../assets/icons/Redo.svg