.m-result.--modal.--removing
  .m-result__states
    .m-result__trash 
      include ../assets/icons/trash.svg
    .m-result__nothing
      include ../assets/icons/Nothing.svg
    .m-result__check
      .m-result__count.js-removedStyles
  p.m-result__text 
  button.b-button.js-cancel.--outlined.--lightRipple 