.m-result.--modal
  .m-result__states
    .m-result__trash 
      include ../assets/icons/trash.svg
    .m-result__nothing
      include ../assets/icons/Nothing.svg
    .m-result__check
      .m-result__wrapper
        include ../assets/icons/Check.svg
  p.m-result__text 
  button.b-button.--outlined.--lightRipple 