doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Unused Styles Remover
    meta(name='author' content='Denis Soloviev')
    meta(name='description' content='Remove any unused fonts, colors, effects and grids, from your style set')
  body
    include _result
    include _report
    include _loader 
    include _options
    include _support